{
	"useTabs": true,
	"tabWidth": 2,
	"overrides": [
		{
			"files": ["*"],
			"options": {
				"arrowParens": "avoid",
				"singleAttributePerLine": true,
				"jsxSingleQuote": true,
				"printWidth": 80,
				"proseWrap": "preserve",
				"quoteProps": "consistent",
				"semi": false,
				"singleQuote": true,
				"trailingComma": "none",
				"plugins": ["prettier-plugin-tailwindcss"]
			}
		},
		{
			"files": ["out/*", "src/data/*"],
			"options": {
				"printWidth": 999,
				"htmlWhitespaceSensitivity": "ignore",
				"bracketSameLine": true
			}
		}
	]
}
