@media screen and (max-width: 600px) {
	.mobile-column,
	.mobile-column-center {
		display: block !important;
		width: 100% !important;
		max-width: 100% !important;
		direction: ltr !important;
	}

	.mobile-column-center {
		text-align: center !important;
	}

	.mobile-w-full {
		width: 100% !important;
	}

	.mobile-px-5 {
		padding-right: 5% !important;
		padding-left: 5% !important;
	}

	.mobile-py-0 {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.mobile-p-tb-16 {
		padding-top: 16px !important;
		padding-bottom: 16px !important;
	}

	.mobile-pt-0 {
		padding-top: 0px !important;
	}

	.mobile-text-left {
		text-align: left !important;
	}

	.mobile-block {
		display: block !important;
	}

	.mobile-hidden {
		display: none !important;
	}

	.mobile-height-16 {
		height: 16px !important;
	}

	.mobile-height-24 {
		height: 24px !important;
	}

	.mobile-height-40 {
		height: 40px !important;
	}

	.mobile-text-center {
		text-align: center !important;
	}

	.mobile-table-175 {
		width: 175px !important;
	}

	.mobile-p-left {
		padding-left: 50px !important;
	}

	.mobile-height-auto {
		height: auto !important;
	}
}
